@media (max-width: 576px) {
  :root {
    overflow-x: hidden;
    scrollbar-width: none;
  }

  body {
    overflow-x: hidden;
  }

  .logo {
    font-size: 26px;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .home {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .home-content h1 {
    font-size: 32px;
  }

  .home-content h3 {
    font-size: 22px;
    font-weight: 500;
    color: #e3342f;
    display: flex;
    justify-content: center;
  }

  .home-sci {
    position: relative;
    left: 60px;
    /* top: 10px; */
    width: 170px;
    display: flex;
    justify-content: space-between;
  }

  #lottie-animation {
    transform: scale(0.7);
    position: relative;
    bottom: 130px;
  }

  .about {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    position: relative;
    bottom: 150px;
  }

  .about-content h1 {
    font-size: 32px;
    text-align: start;
  }

  .about-content p {
    font-size: 16px;
    width: 300px;
    text-align: start;
    position: relative;
    color: rgba(0, 0, 0, 0.7);
  }

  .about .btn-box {
    display: flex;
    justify-content: center;
    height: 50px;
  }

  .btn-box a {
    position: relative;
    bottom: 20px;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
  }

  .banner-img {
    /* display: none; */
    position: relative;
    top: 20px;
    width: 90%;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
  }

  .tech {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    margin-top: 450px;
    position: relative;
    top: 50px;
  }

  .tech-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .tech-content h1 {
    font-size: 32px;
  }

  .skillsList {
    font-size: 1.2rem;
  }

  .projects {
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    margin-top: 5rem;
  }

  .projects h1 {
    font-size: 32px;
    text-align: start;
    color: rgba(0, 0, 0, 0.7);
    /* border: 1px solid red; */
    padding-left: 20px;
  }

  .projects p {
    padding-left: 20px;
    font-size: 0.8rem;
    color: #ffffff80;
  }

  .scroll-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
    scrollbar-width: none;
    width: 100%; /* Full width of the parent container */
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: hidden;
    padding: 10px; /* Optional: Add padding around the scroll area */
    /* border: 1px solid red; */
  }

  .card-body {
    display: flex;
    justify-content: flex-start;
    /* border: 1px solid red; */
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    /* width: 280px; */
  }

  .card-image {
    height: 110px;
    /* border: 1px solid red; */
  }
  .card-title {
    font-size: 1rem;
    /* border: 1px solid red; */
  }

  .card-text {
    font-size: 0.9rem;
    /* border: 1px solid red; */
    width: 100%; /* Ensure the text takes the full width of the card */
    margin-bottom: 10px; /* Optional: Add space below the text */
    overflow: hidden; /* Hide any overflow */
    white-space: normal; /* Allow text to wrap */
    display: -webkit-box; /* Fallback for old browsers */
    -webkit-box-orient: vertical; /* Make it work with the ellipsis */
  }

  .card-tech {
    font-size: 0.7rem;
    /* border: 1px solid red; */
  }

  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    /* border: 1px solid red; */
  }

  #contact-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
    /* border: 1px solid red; */
    gap: 50px;
  }

  .contact-info {
    width: 100%;
    gap: 10px;
    text-align: start;
    /* border: 1px solid red; */
  }

  .contact-info a,
  p {
    font-size: 1.2rem;
  }

  #contact-section h1 {
    font-size: 1.8rem;
  }

  .form-container {
    /* border: 1px solid red; */
    width: 100%;
    margin: 0 auto;
    padding: 10px;
  }

  .form-container form {
    align-items: center;
    /* border: 1px solid red; */
  }

  .send-btn-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* border: 1px solid red; */
  }

  .form-container input,
  .form-container textarea {
    width: 360px;
  }

  #back-to-top {
    position: fixed;
    bottom: -15px;
    right: 3px;
    display: none;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.5);
    font-size: 46px;
  }

  .scroll-section {
    opacity: 0;
    transform: translateY(5px);
    transition: opacity 0.5s ease, transform 2s ease;
  }

  .fade-up {
    opacity: 1;
    transform: translateY(0);
  }

  .isActive {
    display: block;
  }
}
