@media (max-width: 576px) {
  :root {
    overflow-x: hidden;
    scrollbar-width: none;
  }

  body {
    overflow-x: hidden;
  }

  .logo {
    font-size: 26px;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .home {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .home-content h1 {
    font-size: 32px;
  }

  .home-content h3 {
    font-size: 22px;
    font-weight: 500;
    color: #e3342f;
    display: flex;
    justify-content: center;
  }

  .home-sci {
    position: relative;
    left: 60px;
    /* top: 10px; */
    width: 170px;
    display: flex;
    justify-content: space-between;
  }

  #lottie-animation {
    transform: scale(0.7);
    position: relative;
    bottom: 130px;
  }

  .about {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    position: relative;
    bottom: 150px;
  }

  .about-content h1 {
    font-size: 32px;
    text-align: center;
  }

  .about-content p {
    font-size: 16px;
    width: 300px;
    text-align: start;
    position: relative;
    color: #fff;
  }

  .about .btn-box {
    display: flex;
    justify-content: center;
    height: 50px;
  }

  .btn-box a {
    position: relative;
    bottom: 20px;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
  }

  .banner-img {
    /* display: none; */
    position: relative;
    top: 20px;
    width: 90%;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
  }

  .tech {
    display: flex;
    justify-content: center;
    margin-top: 450px;
    position: relative;
    top: 50px;
  }

  .tech-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .tech-content h1 {
    font-size: 32px;
  }

  .skillsList {
    font-size: 0.9rem;
  }

  .projects {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .projects-title {
    font-size: 52px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    position: absolute;
    color: rgba(0, 0, 0, 0.7);
  }

  .project-name {
    font-size: 52px;
    font-weight: 700;
    line-height: 1.2;
    color: #dcd9d4;
    color: #fff;
  }

  .projects-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
  }

  .card2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: rgba(220, 217, 212, 0.5);
    height: auto;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    transform: scale(1) translateZ(0);
    transform-origin: center;
    transition: filter 200ms linear, transform 200ms linear;
    margin-bottom: 10px;
  }

  .card2:hover {
    transform: scale(1.03) translateZ(0);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
  }

  .projects:hover .card2:not(:hover) {
    filter: brightness(1) saturate(1) contrast(1.2) blur(2px);
  }

  .card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 15px; */
  }

  .card-body {
    width: 100%;
    height: 100%;
    bottom: -100%;
    position: absolute;
    background: #1f3d4738;
    backdrop-filter: blur(3px);
    /* border-radius: 15px; */
    color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: 1s;
  }

  .card2:hover .card-body {
    bottom: 0;
  }

  .card-subtitle {
    font-size: 14px;
    font-weight: 300;
  }

  .card2:hover {
    transform: scale(1.03) translateZ(0);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
  }

  .projects:hover .card2:not(:hover) {
    filter: brightness(1) saturate(1) contrast(1.2) blur(2px);
  }

  .card-info {
    font-size: 16px;
    line-height: 25px;
    margin: 20px 0;
    font-weight: 400;
  }

  .card-btn {
    display: flex;
    color: #ededed;
    background: #e3342f;
    padding: 10px 20px;
    width: 120px;
    border-radius: 5px;
    text-transform: capitalize;
    border: none;
    outline: none;
    font-weight: 500;
    cursor: pointer;
  }

  .card-actions {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 50px;
    /* max-height: 80px; */
  }

  .card-actions a {
    text-decoration: none;
    font-size: 14px;
    margin: 0;
  }

  .card-actions a:hover {
    color: rgba(227, 52, 47, 1);
    transform: translateY(-0.25rem);
    transition: transform 500ms;
  }

  .project-icons {
    font-size: 20px;
  }

  #contact-section {
    height: auto;
    margin-top: 1580px;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
  }

  .contact-info {
    gap: 10px;
    text-align: center;
  }

  .contact-info a,
  p {
    font-size: 14px;
  }

  #contact-section h1 {
    font-size: 36px;
  }

  .form-container {
    width: 100%;
    margin: 0 auto;
  }

  .form-container form {
    align-items: center;
  }

  .form-container input,
  .form-container textarea {
    width: 100%;
  }

  #back-to-top {
    position: fixed;
    bottom: -15px;
    right: 3px;
    display: none;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.5);
    font-size: 46px;
  }

  .scroll-section {
    opacity: 0;
    transform: translateY(5px);
    transition: opacity 0.5s ease, transform 2s ease;
  }

  .fade-up {
    opacity: 1;
    transform: translateY(0);
  }
}
