@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@100;300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  color: #ededed;
  background-color: #dcd9d4;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background-color: transparent;
  transition: backdrop-filter 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header.scrolled {
  backdrop-filter: blur(3px);
  background-color: transparent;
}

.logo,
.nav-link {
  font-size: 35px;
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  font-weight: 600;
  transition: filter 0.3s;
}

.logo.scrolled,
.nav-link.scrolled {
  filter: blur(3px);
}

.navbar {
  position: relative;
  right: 55px;
}

.navbar a {
  font-size: 18px;
  color: #ededed;
  text-decoration: none;
  font-weight: 400;
  margin-left: 35px;
  transition: 0.3s;
}

ul {
  display: flex;
}

ul li {
  list-style: none;
}

ul:hover li a {
  color: rgba(0, 0, 0, 0.7);
}

ul:hover li a:not(:hover) {
  color: #ededed;
  opacity: 0.3;
  filter: blur(1px);
}

.home {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

.home-content {
  max-width: 600px;
}

.home-content h1 {
  font-size: 52px;
  font-weight: 700;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.7);
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  color: #e3342f;
}

.home-content p {
  font-size: 16px;
  margin: 20px 0 40px;
  /* text-align: center; */
  width: 600px;
}

.home-content a {
  font-size: 16px;
  margin: 20px 0 40px;
  width: 600px;
  color: rgba(0, 0, 0, 0.7);
}

a {
  color: #ededed;
}

span {
  color: #e3342f;
}

span2 {
  color: #e3342f;
}

span:hover {
  color: #ededed;
}

.home-sci {
  position: absolute;
  bottom: 40px;
  width: 170px;
  display: flex;
  justify-content: space-between;
}
.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.home-sci a:hover {
  color: rgba(0, 0, 0, 0.7);
}

.home-sci a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgba(220, 217, 212, 0.5);
  z-index: -1;
  transition: 0.5s;
}

.home-sci a:hover::before {
  width: 100%;
}

.about {
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

.banner-img {
  width: 35%;
  border-radius: 5%;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
  transition: width 0.3s ease;
}

.banner-img:hover {
  width: 35.5%;
}

.lottie-container {
  width: 550px;
  height: 550px;
  transition: transform 0.3s ease-in-out;
}

.lottie-container:hover {
  transform: scale(1.05);
}
.about .btn-box {
  display: flex;
  justify-content: flex-end;
  height: 50px;
}

.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  font-size: 19px;
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.btn-box a:hover {
  color: #dcd9d4;
}

.btn-box a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;
  transition: 0.5s;
}

.btn-box a:hover:before {
  width: 100%;
}

.about-content {
  max-width: 600px;
}

.about-content h1 {
  font-size: 52px;
  font-weight: 700;
  line-height: 1.2;
  text-align: end;
  color: rgba(0, 0, 0, 0.7);
}

.about-content p {
  font-size: 16px;
  margin: 20px 0 40px;
  text-align: justify;
  width: 600px;
}

.tech {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  gap: 150px;
}

.tech-content {
  max-width: 600px;
}

.tech-content h1 {
  font-size: 52px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}

.tech-content p {
  font-size: 16px;
  margin: 20px 0 40px;
  text-align: center;
  width: 600px;
}

.tech-icons {
  display: flex;
  justify-content: space-between;
  font-size: 50px;
}

.tech-icons i:hover {
  color: #e3342f;
  transition: color 0.3s ease, transform 500ms;
  transform: translateY(-0.5rem);
}


.projects {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.projects-content {
  display: flex;
  justify-content: space-between;
}

.card {
  max-width: 345px;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  background: rgba(220, 217, 212, 0.5);
}

.card-media {
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.card-content {
  padding: 16px;
  max-height: 250px;
}

.card-title {
    color: rgba(0, 0, 0, 0.7);
  margin-bottom: 8px;
  font-weight: bold;
}

.card-description {
  color: rgba(0, 0, 0, 0.7);
  max-width: 315px;
  text-align: start;
}

.card-actions {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  max-height: 80px;
}

.card-actions a {
  text-decoration: none;
}

.card-actions a:hover {
  color: rgba(227, 52, 47, 0.8);
  transform: translateY(-0.25rem);
  transition: transform 500ms;
}

#contact-section {
  margin-top: 50px;
  padding: 0 10%;
  position: relative;
  display: flex;
  justify-content: center;
}

#contact-section h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
}

#back-to-top {
  position: fixed;
  bottom: 5px;
  right: 30px;
  display: none;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  border-style: none;
  /* padding: 10px; */
  font-size: 52px;
  cursor: pointer;
}

#back-to-top:hover {
  color: rgba(227, 52, 47, 0.8);
  transform: translateY(-0.25rem);
  transition: transform 500ms;
}
