@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@100;300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  color: #ededed;
  background-color: #dcd9d4;
}

/* NAVBAR ----------------------------------------------------------------------------------- */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background-color: transparent;
  transition: backdrop-filter 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header.scrolled {
  backdrop-filter: blur(3px);
  background-color: transparent;
}

.logo,
.nav-link {
  font-size: 35px;
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  font-weight: 600;
  transition: filter 0.3s;
}

.logo.scrolled,
.nav-link.scrolled {
  filter: blur(3px);
}

.navbar {
  position: relative;
}

.navbar a {
  font-size: 18px;
  color: #ededed;
  text-decoration: none;
  font-weight: 400;
  margin-left: 35px;
  transition: 0.3s;
}

ul {
  display: flex;
}

ul li {
  list-style: none;
}

ul:hover li a {
  color: rgba(0, 0, 0, 0.7);
}

ul:hover li a:not(:hover) {
  color: #ededed;
  opacity: 0.3;
  filter: blur(1px);
}

/* HOME SECTION ---------------------------------------------------------------------------------------------------------------------- */

.home {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

.home-content {
  max-width: 600px;
}

.home-content h1 {
  font-size: 52px;
  font-weight: 700;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.7);
}

.home-content h3 {
  font-size: 32px;
  font-weight: 500;
  color: #e3342f;
}

.home-content p {
  font-size: 16px;
  margin: 20px 0 40px;
  width: 600px;
}

.home-content a {
  font-size: 16px;
  margin: 20px 0 40px;
  width: 600px;
  color: rgba(0, 0, 0, 0.7);
}

a {
  color: #ededed;
}

span {
  color: #e3342f;
}

span2 {
  color: #e3342f;
}

span:hover {
  color: #ededed;
}

.home-sci {
  position: absolute;
  width: 170px;
  display: flex;
  justify-content: space-between;
}
.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.home-sci a:hover {
  color: rgba(0, 0, 0, 0.7);
  border-color: rgba(0, 0, 0, 0.7);
}

.home-sci a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ededed;
  z-index: -1;
  transition: 0.5s;
}

.home-sci a:hover::before {
  width: 100%;
}

/* ABOUT SECTION ------------------------------------------------------------------------------------------------------------------------ */

.about {
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

.banner-img {
  width: 35%;
  border-radius: 5%;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
}

.about .btn-box {
  display: flex;
  justify-content: flex-end;
  height: 50px;
}

.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  font-size: 19px;
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.btn-box a:hover {
  color: #dcd9d4;
}

.btn-box a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;
  transition: 0.5s;
}

.btn-box a:hover:before {
  width: 100%;
}

.about-content {
  max-width: 600px;
}

.about-content h1 {
  font-size: 52px;
  font-weight: 700;
  line-height: 1.2;
  text-align: end;
  color: rgba(0, 0, 0, 0.7);
}

.about-content p {
  font-size: 16px;
  margin: 20px 0 40px;
  text-align: justify;
  width: 600px;
}

/* TECHS SECTION ---------------------------------------------------------------------------------------------------------------- */

.tech {
  height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  padding: 0 10%;
  gap: 150px;
  margin-top: 5rem;
}

.tech-content {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.tech-content h1 {
  font-size: 52px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  color: #ededed;
}

.tech-content p {
  font-size: 16px;
  margin: 20px 0 40px;
  text-align: center;
  width: 600px;
}

.skillsList {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  font-size: 1.5rem;
  margin-top: 5rem;
}

.skillsList ul {
  display: flex;
  flex-direction: column;
}

.skillsList ul li:hover {
  color: #e3342f;
  cursor: default;
}

span3 {
  color: rgba(0, 0, 0, 0.7);
}

/* PROJECTS SECTION --------------------------------------------------------------------------------------------------------------------- */

.projects {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.projects h1 {
  font-size: 32px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}

.project-name {
  font-size: 52px;
  font-weight: 700;
  line-height: 1.2;
  color: #dcd9d4;
  /* text-align: center; */
  color: #fff;
}

.projects-content {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  width: 290px;
  opacity: 0.8;
  background-color: #5455567b;
}

.card-body:hover {
  opacity: 1;
}

.card-image {
  border-radius: 5px 5px 0 0;
}

.card-title {
  text-align: start;
  margin: 0.5rem;
  font-size: 19px;
  font-weight: 500;
}

.card-text {
  text-align: start;
  margin: 0.5rem;
}

.card-tech {
  text-align: start;
  margin: 0.5rem;
  font-size: 14px;
}

.links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1rem;
}

.link {
  border: 1px solid #ccc;
  padding: 4px 10px;
  border-radius: 50px;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
}

.link:hover {
  color: #333;
  background-color: #ccc;
}

/* CONTACT SECTION ------------------------------------------------------------------------------------------------------------------------ */

#contact-section {
  height: 55vh;
  margin-top: 50px;
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  gap: 150px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.contact-info a,
p {
  font-size: 16px;
  font-family: "Poppins";
  text-decoration: none;
}

#contact-section h1 {
  font-size: 56px;
  font-weight: 600;
  line-height: 1.2;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50px;
  margin: 0 auto;
}

.form-container form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.form-container label {
  font-weight: lighter;
}

.form-container input,
.form-container textarea {
  width: 500px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#message {
  /* min-width: 500px;
  min-height: 100px; */
  max-width: 500px;
  max-height: 100px;
}

.form-container button {
  color: rgba(0, 0, 0, 0.7);
  border: 2px solid rgba(0, 0, 0, 0.7);
  padding: 0 15px;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  font-size: 16px;
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.form-container button:hover {
  color: #dcd9d4;
}

.form-container button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;
  transition: 0.5s;
}

.form-container button:hover::before {
  width: 100%;
}

input:focus,
textarea:focus {
  outline: none;
}

/* BACK TOP BUTTON ------------------------------------------------------------------------------------------------------------------- */

#back-to-top {
  position: fixed;
  bottom: 5px;
  right: 30px;
  display: none;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  border-style: none;
  /* padding: 10px; */
  font-size: 52px;
  cursor: pointer;
}

#back-to-top:hover {
  color: rgba(227, 52, 47, 0.8);
  transform: translateY(-0.25rem);
  transition: transform 500ms;
}

/* FADE/SCROLL EFFECT ---------------------------------------------------------------------------------------------------------------------- */

.scroll-section {
  opacity: 0;
  transform: translateY(5px);
  transition: opacity 1.5s ease, transform 2s ease;
}

.fade-up {
  opacity: 1;
  transform: translateY(0);
}
